@using projectory.Common.StringConsts
@model projectory.DTO.Web.ViewDTO.IndexViewDto


<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var post in Model.AllPosts)
            {
                <div class="post-preview">
                    @Html.ActionLink(post.Title, HomeActions.Info, new { id = post.Id }, new { @class = "post-title" })
                    <h3 class="post-subtitle">
                        @Html.Raw(post.Content)
                    </h3>

                    <p class="post-meta">Posted by <a href="#">@post.Author.UserName</a> on @post.CreateOn</p>
                    <p class="post-meta">Rating :  @post.Rating</p>
                </div>
                <hr>
            }
        </div>
        <div class="col-lg-4 col-md-2">
            @using (Html.BeginForm(HomeActions.Search, ControllerNames.Home, FormMethod.Get))
            {
                <input type="text" placeholder="Search posts by title" required name="search" />
                <input type="submit" value="search" />
            }
            <div>
                <h4>Last Commented Posts</h4>
                @foreach (var post in Model.LastCommentedPosts)
                {
                    <text>|</text>@Html.ActionLink(post.Title, HomeActions.Info, new { id = post.Id })<text>|</text>

                }
            </div>
            <div>
                <h4>Top Rated Posts</h4>
                @foreach (var post in Model.TopRatedPosts)
                {
                    <text>|</text>@Html.ActionLink(post.Title, HomeActions.Info, new { id = post.Id }) <text>|</text>

                }
            </div>
            <div>
                <h4>Latest Posts</h4>
                @foreach (var post in Model.LastPosts)
                {
                    <text>|</text> @Html.ActionLink(post.Title, HomeActions.Info, new { id = post.Id })<text>|</text>
                }
            </div>
        </div>
    </div>
</div>

