@using Microsoft.AspNet.Identity
@using projectory.Common.StringConsts
@using projectory.Services.Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(AccountActions.LogOff, ControllerNames.Account, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                @Html.ActionLink( LinkTexts.Greeting + User.Identity.GetUserName(), DefaultActions.Index, ControllerNames.Manage, routeValues: null, htmlAttributes: new {title = "Manage"})
            </li>
            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            
            <img class="img-fluid avatar nav-item" src="@ImageProvider.Avatar(User.Identity.GetUserId())"/>
        </ul>
        
    }
}
else
{<ul class="nav navbar-nav navbar-right">
     <li class="nav-item">@Html.ActionLink(LinkTexts.Register, AccountActions.Register, ControllerNames.Account, routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
     <li class="nav-item">@Html.ActionLink(LinkTexts.LogIn, AccountActions.Login, ControllerNames.Account, routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
 </ul>
}
